.mainHeading {
  text-align: center;
  margin: 1em 0;
  color: #fff;
}

.ptag {
  color: #fff;
  font-size: 1.2em;
}

.container h2 {
  color: #fff;
  text-decoration: underline;
}

.container p a {
  text-decoration: none;
  color: #fff;
}
