
body{
    margin: 0 !important;
    padding: 0 !important;
    background-color: rgb(0, 0, 0) !important;
}

.white {
    color: white;
}
.hp10{
    padding: 0 20px;
}
.flex {
    display: flex;
}

.center {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.activeMenu {
    background-color: rgb(31, 30, 30);
}

.heading{
    font-size: 1.5em;
}

.decorationNone {
    text-decoration: none !important;
}

.hot{
    display: flex;
    color: red;
    font-size: 20px;
    justify-content: center;
}

.maxWidth {
    max-width: 1400px;
    margin-bottom: 30px;
}

.paddingZero{
    padding: 0 !important;
}

.topBottomMargin{
    margin-bottom: 2em;
    padding: 0 !important;
}

.color {
   color: rgb(179, 176, 176);
}

.color:hover{
    color: #fff;
}